<p id="notice"><%= notice %></p>

<p>
  <b>Online:</b>
  <%= @response.online %>
</p>

<p>
  <b>Watch:</b>
  <%= @response.watch %>
</p>

<p>
  <b>Edit movies:</b>
  <%= @response.edit_movies %>
</p>

<p>
  <b>Download:</b>
  <%= @response.download %>
</p>

<p>
  <b>Print:</b>
  <%= @response.print %>
</p>

<p>
  <b>Edit photos:</b>
  <%= @response.edit_photos %>
</p>

<p>
  <b>Stream:</b>
  <%= @response.stream %>
</p>

<p>
  <b>Digital:</b>
  <%= @response.digital %>
</p>

<p>
  <b>Record:</b>
  <%= @response.record %>
</p>

<p>
  <b>Scrabble:</b>
  <%= @response.scrabble %>
</p>

<p>
  <b>Rpg:</b>
  <%= @response.rpg %>
</p>

<p>
  <b>Shooters:</b>
  <%= @response.shooters %>
</p>


<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
